body {
  margin: 0;
  padding: 0;
}

#board {
  background-color: #c3d5f5;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#player {
  background-image: url("../images/player.png");

  position: absolute;
}

.enemy {
  background-image: url("../images/enemy.png");
  position: absolute;
}
