body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
}

#board {
  background-image: linear-gradient(
    to bottom right,
    rgb(221, 223, 239),
    rgb(122, 154, 202)
  );
  height: 45rem;
  width: 45rem;
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-shadow: 10px 10px 5px rgb(109, 115, 117);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#player {
  background-image: url("../images/player.png");
  position: absolute;
  z-index: 10;
}

.enemy {
  background-image: url("../images/enemy.png");
  position: absolute;
}

.enemy2 {
  background-image: url("../images/enemy2.png");
  position: absolute;
}

.enemy3 {
  background-image: url("../images/enemy3.png");
  position: absolute;
}