body {
  margin: 0;
  padding: 0;
}

#board {
  background-color: #a7c4f6;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#player {
  background-color: #696464;
  position: absolute;
}

.enemy {
  background-color: #191e3b;
  position: absolute;
}
